<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.yuhaozhang.blog.dao.mapper.TagMapper">

    <select id="findTagsByArticleId" resultType="plus.yuhaozhang.blog.dao.pojo.Tag" parameterType="long">
        select id,avatar,tag_name as tagName from ms_tag
        where id in
        (select tag_id from ms_article_tag where article_id = #{articleId})
    </select>
</mapper>