<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.database.forum.dao.mapper.AnswerMapper">
    <!--AnswerVO answerList(String qid);-->
    <select id="answerList" resultType="project.database.forum.vo.params.AnswerVO">
        select A.*, U.username
        from Answer A
                 Left join User U on A.uid = U.uid
        where A.qid = #{qid}
        order by likes desc, datetime desc
    </select>
    <!--List<AnswerVO> getAnswerListByUid(String uid);-->
    <select id="getAnswerListByUid" resultType="project.database.forum.vo.AnswerQuestionVO">
        select A.*,Q.title
        from Answer A
                 Left join Question Q on A.qid = Q.qid
        where A.uid = #{uid}
        order by A.datetime desc
    </select>
    <!--List<AnswerQuestionVO> searchAnswer(String keyword);-->
    <select id="searchAnswer" resultType="project.database.forum.vo.AnswerQuestionVO">
        <bind name="key" value="'%'+keyword+'%'"/>
        select A.*,Q.title,U.username
        from Answer A
                 Left join Question Q on A.qid = Q.qid left join User U on A.uid = U.uid
        where A.text LIKE #{key}
        order by likes desc,datetime desc
    </select>
</mapper>