<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.database.forum.dao.mapper.QuestionMapper">
    <!--List<Question> getPopularQuestion(Integer number);-->
    <select id="getPopularQuestion" resultType="project.database.forum.dao.pojo.Question">
        select Q.qid,
               Q.uid,
               Q.title,
               Q.body,
               Q.resolved,
               Q.datetime,
               Q.tid,
               count(Q.qid) as count
        from question Q left join Answer A
        on Q.qid = A.qid
        group by Q.qid, Q.uid, Q.title, Q.body, Q.resolved, Q.datetime, Q.tid
        order by count desc,Q.datetime desc
            limit #{param1}
    </select>
    <!--List<Question> getQuestionList(Page<Question> questions, Long tid);-->
    <select id="getQuestionList" resultType="project.database.forum.dao.pojo.Question">
        select *
        from Question
        where tid = #{tid}
    </select>
    <!--List<QuestionVO> getQuestionListByUid(String uid);-->
    <select id="getQuestionListByUid" resultType="project.database.forum.vo.params.QuestionVO">
        select *
        from Question
        where uid = #{uid}
    </select>
    <!--List<QuestionWithRelevant> searchQuestion(String keyword);-->
    <select id="searchQuestion" resultType="project.database.forum.vo.QuestionWithRelevant">
        <bind name="key" value="'%'+keyword+'%'"/>
        with relevant(qid,relevant) as(SELECT qid,sum(weight) as relevant from(
        select qid,3 as weight from Question where title like #{key}
        UNION ALL
        select qid,2 as weight from Question where body LIKE  #{key}
        UNION All
        select Q.qid,1 as weight from Question Q inner JOIN Answer A on Q.qid = A.qid where A.text LIKE  #{key}
        ) as t1
        GROUP BY qid)
        select Q.*,R.relevant from relevant R left join Question Q on R.qid = Q.qid order by relevant desc;
    </select>
</mapper>